.about-us-heading {
    font-weight: bold;
    color: white;
}

.about-us-description {
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.about-us-content {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}